.card-body{
    width: 260px;
}

.card-body img{
    width: 250px;
}

.ctr{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.title{
    text-align: center;
    font-size: large;
    font-weight: 900;
    margin-bottom: 30px;
    margin-top: 30px;
}

.loading{
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    color: red;
}